.signup {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  padding: 45px;
  text-align: center;
  width: 700px;
  height: 500px;
  margin: 30px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

  &__info {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    color: #4CAF50;
    margin-bottom: 30px;
  }

  & .ant-input-affix-wrapper {
    margin-bottom: 10px;
  }

  & .ant-btn {
    text-transform: uppercase;
    outline: 0;
    background-color: #4CAF50;
    width: 100%;
    height: 30px;
    border: 0;
    color: #FFFFFF;
    font-size: 14px;
    transition: all 0.3s ease;
    cursor: pointer;
  }

  & .ant-btn:hover, & .ant-btn:active, & .ant-btn:focus {
    background-color: #43A047;
    color: #fff;
  }

  &__question,
  &__link {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }

  &__link_btn {
    color: #4CAF50;
    text-decoration: none;
    margin-left: 4px;

    &:hover {
      color: #4CAF50;
    }
  }

  &__modal .ant-btn:first-child {
    display: none;
  }

  &__modal .ant-btn {
    width: inherit;
  }

  &__modal .ant-modal-body {
    width: inherit;
  }
}





