//// Theme red
//$color: red;
//$colorHover: #ff00007a;
//$boxShadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

//// Theme purple
//$color: #b700b7;
//$colorHover: #ff00ff;
//$boxShadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);





// Theme green
$color: #4CAF50;
$colorHover: #43A047;
$boxShadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);








