 //Color
$success: #7AE0BD;
$error: #FF7676;
$warning: #FFDCA4;
$colorBlack: #000;
$colorWhite: #fff;

// Font
$fontWeightBold: bold;
$fontFamilyRoboto: Roboto, sans-serif;

// Button
$gradient: linear-gradient(270deg, #A0CEEC 0%, #C9C3EF 100%);







